.scrollTopBtn {
    position: fixed;
    bottom: 100px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    z-index: 9999;
}

.scrollTopBtn.show {
    opacity: 1;
    pointer-events: auto;
}

.scrollTopBtn:hover {
    transform: scale(1.1);
}