@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.home-back {
    background-image: url("../../assets/background.png");
    width: 100%;
    height: calc(100vh - 80px);
    background-size: cover;
    background-position: 22% bottom;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.home-word {
    width: 430px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    padding-left: 10%;

    h1 {
        font-size: 55px;
        line-height: 62px;
    }

    h5 {
        font-size: 23px;
    }

    p {
        font-size: 19px;
    }

    .order {
        width: 45%;
        height: 55px;
        border-radius: 30px;
        font-weight: 500;
        font-size: 15px;
        cursor: pointer;
        border: none;

    }
}

.cup {
    height: 170px;
    width: 100%;
    background-color: #DCD3C3;
    display: flex;
}

.cup-all {
    width: 100%;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13%;

    img {
        width: 96px;
        height: 125px;
    }
}

.beans {
    width: 100%;
    height: 335px;
    display: flex;
    justify-content: space-between;
    background-color: #E2D9C8;

    img {
        height: 335px;
        width: 525px;
    }

    .beans-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;

        h1 {
            font-size: 40px;
        }

        button {
            width: 250px;
            height: 51px;
            background-color: #30261C;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 30px;
            margin-top: 10px;
        }
    }
}

.beans2 {
    width: 100%;
    height: 320px;
    display: flex;
    justify-content: space-between;
    background-color: #E2D9C8;

    img {
        height: 320px;
        width: 525px;
    }

    .beans-center2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 32px;
        }

        p {
            font-size: 18px;
            margin-top: 3%;
        }

        button {
            width: 138px;
            height: 44px;
            background-color: #30261C;
            color: white;
            font-size: 16px;
            border: none;
            border-radius: 30px;

        }

        input {
            width: 364px;
            height: 44px;
            border-radius: 30px;
            border: none;
        }
    }

    .input-button {
        display: flex;
        align-items: center;
        gap: 14px;
        margin-top: 5%;
    }
}

/* Laptop / Medium Screens */
@media (max-width: 1200px) {

    .home-back {
        background-position: center;
    }

    .home-word {
        padding-left: 5%;
        width: 380px;
    }

    .beans img,
    .beans2 img {
        width: 450px;
    }
}

/* Tablet (768px – 1024px) */
@media (max-width: 992px) {

    .home-back {
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 60px 0;
        text-align: center;
    }

    .home-word {
        align-items: center;
        padding-left: 0;
        width: 100%;
    }

    .cup-all {
        gap: 8%;
    }

    .beans,
    .beans2 {
        flex-direction: column;
        height: auto;
        text-align: center;
        padding: 30px 0;
        align-items: center;
        gap: 20px;
    }

    .beans img,
    .beans2 img {
        width: 70%;
        height: auto;
    }

    .beans-center,
    .beans-center2 {
        align-items: center !important;
    }

    .input-button {
        flex-direction: column;
        gap: 10px;
    }

    .beans-center2 input {
        width: 90%;
    }
}

/* Mobile (≤768px) */
@media (max-width: 768px) {

    .home-back {
        height: auto;
        padding: 50px 20px;
    }

    .home-word h1 {
        font-size: 40px;
        line-height: 46px;
    }

    .home-word h5 {
        font-size: 18px;
    }

    .home-word p {
        font-size: 16px;
    }

    .home-word .order {
        width: 60%;
        height: 50px;
        font-size: 14px;
    }

    .cup {
        height: auto;
        padding: 20px 0;
    }

    .cup-all img {
        width: 70px;
        height: 95px;
    }

    .beans img,
    .beans2 img {
        width: 90%;
    }

    .beans-center h1,
    .beans-center2 h1 {
        font-size: 28px;
    }

    .beans-center2 input {
        width: 100%;
    }
}

/* Small Mobile (≤480px) */
@media (max-width: 480px) {
.home-back{
    padding: 50px 0;
}
    .home-word h1 {
        font-size: 32px;
        line-height: 38px;
    }

    .home-word .order {
        width: 75%;
    }

    .cup-all {
        flex-wrap: wrap;
        gap: 25px;
        padding: 10px;
    }

    .beans-center2 p {
        font-size: 16px;
    }

    .beans-center2 button {
        width: 120px;
        height: 40px;
    }
}