header {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #30261C;
    color: white;
    width: 100%;
}

.header-all {
    margin: 0 auto;
    width: 80%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 80px;

    h1 {
        a {
            color: white;

        }
    }

    nav {
        ul {
            display: flex;
            gap: 7%;
            font-size: 20px;
            transition: transform 0.3s, color 0.3s;


            li {
                a {
                    color: white;
                }

            }
        }
    }


    nav ul li:hover {
        /* color: rgb(130, 77, 77); */
        transform: scale(1.05);
        text-decoration: underline;
    }

    nav ul a:hover {
        /* color: rgb(130, 77, 77); */
    }

    .login {

        width: 100px;
        height: 40px;
        background-color: rgb(153 132 132);
        border-radius: 10px;
        border: none;


        a {
            color: white;
            font-size: 15px;
            font-weight: 400;
        }

    }

    .login:hover {
        cursor: pointer;
        background-color: aliceblue;

        a {
            color: black;
        }

    }
}
.menu-toggle{
    display: none;
}


/* resssssssssssssssssssssssssssssssssss */
/* Responsive Styles */
@media (max-width: 992px) {
    .header-all {
        width: 90%;
        flex-direction: column;
        height: auto;
        padding: 10px 0;

        nav {
            width: 100%;

            ul {
                flex-direction: column;
                gap: 15px;
                display: none;
                /* hidden by default on small screens */
                width: 100%;
                text-align: center;
            }
        }

        .login {
            margin-top: 10px;
            width: 80%;
        }
    }

    .menu-toggle {
        display: block;
        font-size: 25px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        margin-left: auto;
    }
}

@media (max-width: 600px) {
    .header-all {
        width: 95%;

        nav ul li {
            font-size: 18px;
        }

        .login {
            width: 100%;
            height: 40px;
        }
    }
}

/* Show menu when active */
nav ul.active {
    display: flex;
}