/* importing google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap'); */

/* * {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* body {
    background: linear-gradient(#F4F0FF, #DACDFF);
    width: 100%;
    min-height: 100vh;

} */

.chatbot-popup {
    opacity: 0;
    z-index: 1;
    pointer-events: none;
    position: fixed;
    bottom: 90px;
    right: 35px;
    width: 420px;
    transform: scale(0.2);
    background: #FFF;
    border-radius: 15px;
    transform-origin: bottom right;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    transition: all 0.1s ease;
}

.container.show-chatbot .chatbot-popup {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

.chatbot-popup .chat-header {
    display: flex;
    padding: 15px 22px;
    align-items: center;
    justify-content: space-between;
    background: #6D4FC2;
}

.chat-header .header-info {
    display: flex;
    gap: 10px;
    align-items: center;
}

.header-info svg {
    height: 35px;
    width: 35px;
    padding: 6px;
    background: #FFF;
    border-radius: 50%;
    fill: #6D4FC2;
    flex-shrink: 0;
}

.header-info .logo-text {
    color: #FFF;
    font-size: 1.31rem;
    font-weight: 600;
}

.chat-header button {
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 1.9rem;
    padding-top: 2px;
    margin-right: -10px;
    background: #593bab;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s ease;
}

.chat-header button:hover {
    background: #593bab;
}

.chat-body {
    padding: 25px 22px;
    height: 460px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 82px;
    scrollbar-width: thin;
    scrollbar-color: #DDD3F9 transparent;
}

#chatbot-toggler {
    position: fixed;
    bottom: 35px;
    right: 30px;
    border: none;
    height: 50px;
    width: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 50%;
    background: #6D4FC2;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

#chatbot-toggler span {
    position: absolute;
    color: #fff;
}

.container.show-chatbot #chatbot-toggler {
    transform: rotate(90deg);
}

#chatbot-toggler span:last-child,
.container.show-chatbot #chatbot-toggler span:first-child {
    opacity: 0;
}

.container.show-chatbot #chatbot-toggler span:last-child {
    opacity: 1;
}

.chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .message.error .message-text {
    color: #ff0000;
}

.chat-body .bot-message svg {
    height: 35px;
    width: 35px;
    padding: 6px;
    background: #6D4FC2;
    border-radius: 50%;
    fill: #fff;
    flex-shrink: 0;
    margin-bottom: 2px;
    align-self: flex-end;
}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    /* background: #6D4FC2; */
    word-wrap: break-word;
    white-space: pre-line;
    font-size: 0.95 rem;

}

.chat-body .bot-message .message-text {
    background: #F6F2FF;
    border-radius: 13px 13px 13px 3px;
}

.chat-body .user-message .message-text {
    background: #6D4FC2;
    border-radius: 13px 13px 3px 13px;
    color: #fff;
}

.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}

.chat-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    padding: 15px 22px 20px;
}

.chat-footer .chat-form {
    display: flex;
    align-items: center;
    background: #FFF;
    outline: 1px solid #CCCCE5;
    border-radius: 32px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.06);
}

.chat-footer .chat-form:focus-within {
    outline: 2px solid #ad7032;
}

.chat-form .message-input {
    border: none;
    outline: none;
    background: none;
    height: 47px;
    padding: 0 17px;
    font-size: 0.95rem;
    width: 100%;
}

.chat-form button {
    height: 35px;
    width: 35px;
    border: none;
    display: none;
    outline: none;
    cursor: pointer;
    font-size: 1.15rem;
    color: #FFF;
    flex-shrink: 0;
    margin-right: 6px;
    border-radius: 50%;
    background: #6D4FC2;
    transition: 0.2s ease;
}

.chat-form button:hover {
    background: #593bab;
}

.chat-form .message-input:valid~button {
    display: block;
}

/* Resposivlik */
/* @media (max-width: 520px){

} */
/* Responsive media query for mobile screens */
@media (max-width: 520px) {

    #chatbot-toggler {
        right: 20px;
        bottom: 20px;
    }

    .chatbot-popup {
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border-radius: 0;
    }

    .chatbot-popup .chat-header {
        padding: 12px 15px;
    }

    .chat-body {
        height: calc(90% - 55px);
        padding: 25px 15px;
    }

    .chat-footer {
        padding: 10px 15px 15px;
    }
}

/* meeeeeeee */
.chat-form {
    width: 90%;
}

.chat-body .bot-message .message-text {
    background-color: #ad7032;
}

.chat-body .bot-message svg {
    background-color: #ad7032;
}

#chatbot-toggler {
    background-color: #ad7032;

}

.chatbot-popup .chat-header {
    background-color: #ad7032;

}

.chat-header button {
    background-color: #ad7032;
}

.header-info svg {
    background-color: rgb(209, 90, 90);
    color: #30261C;

}

.chat-body .user-message .message-text {
    background-color: #ad7032;

}

.chat-form .message-input:valid~button {
    background-color: #ad7032;

}
.chat-form .message-input{
    
}