@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

footer {
    background-color: #30261C;
    color: white;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    height: 300px;
    /* align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;

}

.footerr {
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    gap: 7%;
    flex-wrap: wrap;
    /* padding: 65px 0 65px 0; */
}

.footer-center {
    display: flex;
    width: 700px;
    /* flex-wrap: wrap; */
    gap: 6%;

    /* justify-content: space-between; */
    ul {
        justify-content: space-between;
        letter-spacing: 1px;

        li {
            margin-bottom: 8%;
            font-size: 16px;
            color: #b1b1b1b0;
        }

        h2 {
            margin-bottom: 30px;
        }
    }
}

.footer-right {
    h2 {
        margin-bottom: 30px;
    }

    .footer-icon {
        display: flex;
        gap: 7%;
        font-size: 18px;

        a {
            color: white;
        }
    }
}

.sponsor {
    width: 100%;
    overflow: hidden;
    /* скрываем лишнее */
    padding: 20px 0;
    background-color: white;
}

.sponsor-track {
    display: flex;
    width: max-content;
    /* ширина по содержимому */
    gap: 30px;
    /* расстояние между логотипами */
    animation: sponsorMove 20s linear infinite reverse;
    /* reverse = анимация играет НАЗАД → визуально едет ВПРАВО */
}

.sp {
    flex: 0 0 auto;
}

.sp img {
    height: 120px;
    /* можешь поменять под себя */
    width: auto;
}

@keyframes sponsorMove {
    0% {
        transform: translateX(0);
    }

    100% {
        /* сдвигаем трек влево наполовину его длины,
       потому что мы два раза написали одни и те же 8 логотипов */
        transform: translateX(-50%);
    }
}