.blog-all{
    background-color: whitesmoke;
}
.accordion-wrapper {
    width: 80%;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    padding: 40px;
}

/* .acc-item {
    margin: 5px 0;
} */

.acc-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 14px 0;
}

.acc-title {
    font-size: 16px;
    font-weight: 600;
    color: #2b2b2b;
}

.acc-icon {
    font-size: 22px;
    font-weight: 300;
    color: #333;
}

.acc-content {
    padding: 10px 0 15px 0;
    color: #555;
    font-size: 15px;
    line-height: 1.6;
}

.acc-line {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}